#file proxysql.cfg

datadir="/var/lib/proxysql"
restart_on_missing_heartbeats=999999

admin_variables=
{
  mysql_ifaces="0.0.0.0:6032"
  admin_credentials="admin:$PROXYSQL_ADMIN_PASSWORD;datadog:$PROXYSQL_DATADOG_PASSWORD;remote:$PROXYSQL_REMOTE_PASSWORD"
}

mysql_variables=
{
  connection_warming=true
  session_idle_ms=1
  auto_increment_delay_multiplex=0
  threads=8
  max_connections=100000
  interfaces="0.0.0.0:3306;/tmp/proxysql.sock"
  default_schema="$SCHEMA"
  server_version="5.7.18-proxysql"
  connect_timeout_server=11000
  connect_timeout_server_max=11000
  connect_retries_on_failure=0
  default_charset="utf8mb4"
  free_connections_pct=100
  max_allowed_packet=16777216
  monitor_enabled=false
  query_retries_on_failure=0
  shun_on_failures=999999
  shun_recovery_time_sec=0
  kill_backend_connection_when_disconnect=false
  throttle_connections_per_sec_to_hostgroup=20
  stats_time_backend_query=false
  stats_time_query_processor=false
  max_stmts_per_connection=5
  default_max_latency_ms=999999
  wait_timeout=1800000
}

# defines all the MySQL users
mysql_users:
(
  {
    username = "shopify_writer"
    password = "$SHOPIFY_WRITER_PASSWORD"
    default_hostgroup = 0
    default_schema = "$SCHEMA"
    max_connections=50000
    active = 1
    transaction_persistent=1
  },
  {
    username = "shopify_reader"
    password = "$SHOPIFY_READER_PASSWORD"
    default_hostgroup = 1
    default_schema = "$SCHEMA"
    max_connections=50000
    active = 1
    transaction_persistent=1
  },
  {
    username = "shopify_rw"
    password = "$SHOPIFY_RW_PASSWORD"
    default_hostgroup = 0
    default_schema = "$SCHEMA"
    max_connections=50000
    active = 1
    transaction_persistent=1
  },
  {
    username = "shopify_ro"
    password = "$SHOPIFY_RO_PASSWORD"
    default_hostgroup = 1
    default_schema = "$SCHEMA"
    max_connections=50000
    active = 1
    transaction_persistent=1
  },
  {
    username = "ngrouter"
    password = "$NGROUTER_PASSWORD"
    default_hostgroup = 1
    default_schema = "$SCHEMA"
    max_connections=50000
    active = 1
    transaction_persistent=1
  },
  {
    username = "shopify_storefront_ro"
    password = "$SHOPIFY_STOREFRONT_RO_PASSWORD"
    default_hostgroup = 1
    default_schema = "$SCHEMA"
    max_connections=50000
    active = 1
    transaction_persistent=1
  },
  {
    username = "shopify_storefront_ro_b"
    password = "$SHOPIFY_STOREFRONT_RO_B_PASSWORD"
    default_hostgroup = 1
    default_schema = "$SCHEMA"
    max_connections=50000
    active = 1
    transaction_persistent=1
  }
)

#defines MySQL Query Rules
mysql_query_rules:
(
  {
    rule_id = 1
    active = 1
    match_digest = "@@SESSION"
    multiplex = 2
  },
  {
    rule_id = 2
    active = 1
    match_digest = "@@global\.server_id"
    multiplex = 2
  },
  {
    rule_id = 10
    active = 1
    match_pattern = "application:storefront-renderer,sfr_replica:0"
    destination_hostgroup = 10
  },
  {
    rule_id = 11
    active = 1
    match_pattern = "application:storefront-renderer,sfr_replica:1"
    destination_hostgroup = 11
  },
  {
    rule_id = 12
    active = 1
    match_pattern = "application:storefront-renderer,sfr_replica:2"
    destination_hostgroup = 12
  },
  {
    rule_id = 13
    active = 1
    match_pattern = "application:storefront-renderer,sfr_replica:3"
    destination_hostgroup = 13
  }$QUERY_RULES
)
